:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hero-pattern {
  --s: 100px; /* size of the pattern */
  --c1: #FFFFFF;
  --c2: #F5F5F5;

  --_s: calc(2 * var(--s)) calc(2 * var(--s));
  --_g: var(--_s) conic-gradient(at 40% 40%, #0000 75%, var(--c1) 0);
  --_p: var(--_s) conic-gradient(at 20% 20%, #0000 75%, var(--c2) 0);

  background: calc(0.9 * var(--s)) calc(0.9 * var(--s)) / var(--_p),
  calc(-0.1 * var(--s)) calc(-0.1 * var(--s)) / var(--_p),
  calc(0.7 * var(--s)) calc(0.7 * var(--s)) / var(--_g),
  calc(-0.3 * var(--s)) calc(-0.3 * var(--s)) / var(--_g),
  conic-gradient(from 90deg at 20% 20%, var(--c2) 25%, var(--c1) 0) 0 0 / var(--s) var(--s),
  radial-gradient(circle, white 0%, rgba(255, 255, 255, 0.7) 50%) center / cover no-repeat;

  animation: m 3s infinite;
  box-shadow: inset 0 0 100px 50px rgba(255, 255, 255, 1);
}

@keyframes m {
  0% {
    background-position: calc(0.9 * var(--s)) calc(0.9 * var(--s)),
    calc(-0.1 * var(--s)) calc(-0.1 * var(--s)),
    calc(0.7 * var(--s)) calc(0.7 * var(--s)),
    calc(-0.3 * var(--s)) calc(-0.3 * var(--s)),
    center;
  }
  50% {
    background-position: calc(1.9 * var(--s)) calc(0.9 * var(--s)),
    calc(-1.1 * var(--s)) calc(-0.1 * var(--s)),
    calc(1.7 * var(--s)) calc(0.7 * var(--s)),
    calc(-1.3 * var(--s)) calc(-0.3 * var(--s)),
    center;
  }
  100% {
    background-position: calc(2.9 * var(--s)) calc(-1.1 * var(--s)),
    calc(-2.1 * var(--s)) calc(1.9 * var(--s)),
    calc(2.7 * var(--s)) calc(-1.3 * var(--s)),
    calc(-2.3 * var(--s)) calc(1.7 * var(--s)),
    center;
  }
}
