---
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

import Layout from '../layouts/Layout.astro';
import About from '@/components/about';
import Connect from '@/components/connect';
import Grid from '@/components/grid';
import Hero from '@/components/hero';
import Navigation from '@/components/navigation';
import Profile from '@/components/profile';
import Projects from '@/components/projects/index.astro';
import Skills from '@/components/skills';
import Terminal from '@/components/terminal';
---

<Layout>
  <main class="pb-10">
    <Hero client:only="react" />
    <About client:only="react" />
    <Terminal client:only="react" />
    <Skills client:only="react" />
    <Projects />
    <Grid client:only="react" />
    <Profile client:only="react" />
    <Connect client:only="react" />
    <Navigation client:only="react" />
  </main>
</Layout>
